name: Unit Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main, master ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential ninja-build

      - name: Configure CMake
        # We use the preset we defined in CMakePresets.json
        run: cmake --preset gtest-release

      - name: Build Tests
        run: cmake --build --preset build-tests-release

      - name: Run Tests
        run: ctest --preset run-tests-release